<section>
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 d-flex pt-4">
          <div class="card card-plain bg-white shadow">
            <div class="card-header pb-0 pt-6">
              <img src="assets/img/logobisniskita.png" alt="Logo" style="width: 200px; height: auto; margin-bottom: 10px;">
              <h3 class="font-weight-bolder text-info text-gradient text-left">Sign in</h3>
            </div>                
            <div class="card-body">
              <form #loginForm="ngForm" (ngSubmit)="submitLogin()" role="form">
                <!-- Email or Phone Number -->
                <div class="mb-3">
                  <label *ngIf="loginType === 'email'" for="email" class="form-label">Email</label>
                  <label *ngIf="loginType === 'phone'" for="no_hp" class="form-label">Phone Number</label>
                  <input *ngIf="loginType === 'email'" type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" placeholder="Enter your Email" required>
                  <input *ngIf="loginType === 'phone'" type="text" class="form-control" id="no_hp" name="no_hp" [(ngModel)]="form.no_hp" placeholder="Enter your phone number">
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="d-flex flex-column mx-auto">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="loginType" id="loginWithEmail" value="email" [(ngModel)]="loginType">
                            <label class="form-label" for="loginWithEmail">Email</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="d-flex flex-column mx-auto">
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="loginType" id="loginWithPhone" value="phone" [(ngModel)]="loginType">
                            <label class="form-label" for="loginWithPhone">Phone</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Password -->
                <label for="password">Password</label>
                <div class="mb-3" style="position: relative;">
                  <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control" id="password" name="password" placeholder="Password" [(ngModel)]="form.password" aria-label="Password" aria-describedby="password-addon">
                  <div style="position: absolute; top: 35%; right: 30px; cursor: pointer; z-index: 2;" (click)="togglePasswordVisibility()">
                    <i class="fa" [ngClass]="{'fa-eye-slash': passwordVisible, 'fa-eye': !passwordVisible}" style="position: absolute;"></i>
                  </div>
                </div> 
                <!-- Remember Me -->
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="rememberMe" [(ngModel)]="form.rememberMe" name="rememberMe">
                  <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <!-- Sign In Button -->
                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" [disabled]="!loginForm.valid || !isFormComplete()">Sign in</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
              <p class="mb-4 text-sm mx-auto">
                Belum punya akun?
                <a href="javascript:;" class="text-info text-gradient font-weight-bold" [routerLink]="'/signup'" *ngIf="!loggedIn">Sign up</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-8">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
            <div class="oblique-image bg-cover fixed-top h-100 ms-n6" style="background-image:url('../assets/img/curved-images/curved6.jpg'); width: 100%; height: 100%;"></div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</section>


  