.sidebar {
  position: fixed;
  top: 80px;
  left: 15px;
  height: 90%;
  margin-left: 20px;
  z-index: 2;
  transition: visibility 0.3s ease, transform 0.3s ease;
  transform: translateX(-150%);
  visibility: hidden;
}

/* Show sidebar */
.sidebar.show {
  transform: translateX(-15px);
  visibility: visible; 
}

.main-content-full {
  margin-left: 18% !important; 
}

/* Styles for smaller screens */
@media (max-width: 600px) {
  .sidebar {
    z-index: 2; 
    position: absolute;
    transform: translateX(-150%);
    left: 15px;
    padding-right: 55px ;
    background-color: white ;
  }

  .sidebar.show {
    transform: translateX(-30px);
    visibility: visible;
  }

  .main-content {
    margin-left: 0 !important;
  }
}



