<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kas & Bank</h5>
          <canvas id="kasBankChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Piutang</h5>
          <canvas id="piutangChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hutang</h5>
          <canvas id="hutangChart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Laba Rugi</h5>
          <canvas id="labaRugiChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
