<div class="container-fluid py-4">
  <div class="card">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-lg-6 col-7 d-flex align-items-center">
          <h4 class="mb-0">Charts Of Accounts</h4>
        </div>
        <div class="col-lg-6 col-5 d-flex justify-content-end">
          <div class="input-group">
            <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Cari Akun">
          </div>
        </div>
      </div>
    </div>
    <div class="card-header pt-3">
      <div class="row">
        <div class="col-lg-6 col-7 d-flex align-items-start">
          <button type="button" class="btn bg-gradient-dark mb-0" data-bs-toggle="modal" data-bs-target="#tambahAkunModal">
            <span style="font-size: 11px;">Tambah Akun</span>
          </button>
        </div>
        <div class="col-lg-6 col-5 d-flex justify-content-end">
          <button class="btn bg-white mb-0">
            <span style="font-size: 11px;">atur saldo awal</span>
          </button>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="tambahAkunModal" tabindex="-1" aria-labelledby="akunModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="akunModalLabel">Tambah Data Akun</h5>
            <a href="javascript:;">
              <i class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i>
            </a>
          </div>
          <div class="modal-body">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
              <div class="mb-3">
                <label for="namaAkun">Nama</label>
                <input type="text" class="form-control" id="namaAkun" placeholder="Nama Akun" name="namaAkun" [(ngModel)]="namaAkun" required>
              </div>
              <div class="mb-3">
                <label for="kategori">Kategori</label>
                <div class="position-relative">
                  <select class="form-select" id="kategori" name="kategori" [(ngModel)]="kategori" required>
                    <option value="" disabled selected>Pilih kategori</option>
                    <option value="1">Kas & Bank</option>
                    <option value="2">Akun Hutang</option>
                    <option value="3">Akun Piutang</option>
                    <option value="4">Harta Lancar</option>
                    <option value="5">Harta Tetap</option>
                    <option value="6">Kewajiban Lancar</option>
                    <option value="7">Kewajiban Jangka Panjang</option>
                    <option value="8">Modal</option>
                    <option value="9">Pendapatan</option>
                    <option value="10">Beli Asset</option>
                  </select>
                </div>
              </div>        
              <div class="mb-3">
                <label for="kodeAkun">Kode</label>
                <div class="input-group">
                  <span class="input-group-text bg-gradient-light">{{ kategoriKode }}</span>
                  <input type="number" class="form-control ps-1" id="kodeAkun" name="kodeAkun" [(ngModel)]="kodeAkun" (input)="onInputChange($event)" min="0" max="999" required>
                </div>
              </div>              
              <div class="mb-3">
                <label for="deskripsi">Deskripsi</label>
                <textarea class="form-control" id="deskripsi" name="deskripsi" rows="3" [(ngModel)]="deskripsi" required></textarea>
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Simpan</button>
              </div>
            </form>            
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-0">
      <div class="table-responsive">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xs font-weight-bolder">Kode Akun</th>
              <th class="text-uppercase text-secondary text-xs font-weight-bolder">Nama</th>
              <th class="text-uppercase text-secondary text-xs font-weight-bolder">Kategori</th>
              <th class="text-uppercase text-secondary text-xs font-weight-bolder">Tipe Akun</th>
              <th class="text-uppercase text-secondary text-xs font-weight-bolder">Deskripsi</th>
              <th class="text-uppercase text-secondary text-xs font-weight-bolder">Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let account of accountData">
              <td>
                <div class="d-flex px-2 ms-2">
                  <div class="d-flex flex-column justify-content-center">
                    <span class="text-xs font-weight-bold">{{ account.kode }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 ms-2">
                  <div class="d-flex flex-column justify-content-center">
                    <span class="text-xs font-weight-bold">{{ account.nama }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 ms-2">
                  <div class="d-flex flex-column justify-content-center">
                    <span class="text-xs font-weight-bold">{{ account.kategori }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 ms-2">
                  <div class="d-flex flex-column justify-content-center">
                    <span class="text-xs font-weight-bold">{{ account.tipeAkun }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 ms-2">
                  <div class="d-flex flex-column justify-content-center">
                    <span class="text-xs font-weight-bold">{{ account.deskripsi }}</span>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex">
                  <div class="col-md-4 text-md-end text-center mt-3 mt-md-0">
                    <a href="javascript:;">
                      <i class="bi bi-pencil-square text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Akun"></i>
                    </a>
                  </div>
                  <div class="col-md-4 text-md-end text-center mt-3 mt-md-0">
                    <a href="javascript:;">
                      <i class="bi bi-trash text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Hapus Akun"></i>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>