.card-hover-menu {
  position: fixed;
  top: 50%;
  left: 35%;
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 6px;
  padding: 8px; 
}

.card-hover-menu a {
  display: block;
  padding: 6px 12px;
  color: #333333;
  text-decoration: none;
  font-size: 14px; 
}

.card-hover-menu a:hover {
  background-color: #f2f2f2; 
}

@media screen and (max-width: 768px) {
  .card-hover-menu {
    top: 31%; 
    left: 37%; 
    padding: 10px 0; 
    border-radius: 0; 
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 6px;
  }

  .card-hover-menu a {
    padding: 6px 12px;
    font-size: 14px;
  }
}
