.card{
  position: absolute;
  width: 340px;
  height: 590px;
}
.oblique {
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 100%;
}
.col-xl-8{
  height: 100vh;
}

@media (max-width: 768px) {
  .card {
    position: relative;
    margin: auto;
    padding: auto;
    width: 310px;
    height: 590px;
    top: 10%;
  }
  .page-header {
    align-items: center;
    justify-content: center;
  }
  .oblique-image {
    display: none;
  }
  .col-xl-8{
    height: 10vh;
  }
}